@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



a.block.px-4.py-3.text-gray-700.hover\:bg-accent\/5.hover\:text-accent.transition-all.duration-200.border-b.border-gray-100.last\:border-b-0.text-base.rounded-lg.mx-1 {
    border-bottom: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove any unwanted spacing */
main {
  margin: 0;
  padding: 0;
}

/* Ensure sections have no unwanted margins */
section {
  margin: 0;
}